*{
    margin: 0;
    padding: 0;
    font-family: centiry;
    box-sizing: border-box;
}
body{
   
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

h1{
    color: #101010;
    font-weight: bold;
    font-family: 'Times New Roman', Times;
}

.sidemenu{
    background: rgb(194, 126, 126);
    width: 20vw;
    min-height: 100vh;   
}

.sidemenu .brandname{
    height: 10vh;
    display: flex;
    align-items: center ;
    justify-content: center;
}

.sidemenu li{
    font-size: 24px;
    padding: 30px 40px;
    color: white;
    display: flex;
    align-items: center;
}

.sidemenu li:hover{
    border-bottom: #723737 solid white ;
    color: #0f0f0f;
    background-color: rgb(7, 185, 185);
}


#home{
    background-image: linear-gradient( rgb(9, 5, 54, .3), rgb(5, 4, 46, .7)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #f9f9f9;
}


.carousel-inner{
    height: 668px;
    width: 100  5;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;

}

    .carousel-item::before{
        content: '';
        background-color: black;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 3;
        z-index: -1;
    }


    

/* Footer section*/

footer {
  

    color: #f7f1f1;
    display: flex;
    
      justify-content: space-between;
      
     
      text-align: center;
      background-color: #333;
     
      position: absolute;
     
      width: 100%;
     
     
      flex-wrap: wrap;
  }
  
  footer .container {
  
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
   
    
  }
  
  .subject{
  
  align-items: center;
  margin: 10px;
  justify-items: center;
  
  
  }
  
  .subject img {
  
    width: 150px;
    height: 150px;
    border-radius: 50%;
  
  }
  
  .subject a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  
  .subject p{
    text-transform: uppercase;
  }
  
  .library a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  
  .library img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  
  .library p{
    text-transform: uppercase;
  }
  
  .bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  .bottom-footer p{
    font: size 100px;
    font-weight: bold;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
    
  }
  
  ul li a {
    text-decoration: none;
    color: white;
   
  }
  
  footer ion-icon{
    font-size: 20px;
    color: #fbf8f8;
    align-items: center;
    justify-content: left;
  
  }
  footer .bottom-footer  ion-icon{
    color: green;
  }
  
  #face{
    color: blue;
    background-color: #f2f2f2;
    border-radius: 60%;
    font-size: 60px;
  }
  #ytube{
    color: red;
    background-color: #f2f2f2;
    border-radius:15px;
    font-size: 60px;
  }
  
  #whapp{
    color:  #f5f1f1  ;
    background-color: green;
    border-radius: 30%;
    font-size: 60px;
  
  }
  
  /* #tk{
    color: rgb(220, 6, 188) ;
    background-color: #080707;
    border-radius: 40%;
     font-size: 60px;
  } */
  
  /* End Footer section*/
  