body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
   /* Start loog in  */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  form img {
    text-align: center;
   justify-content: center;
   text-align: center;
   background-color: red;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #a90f6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-link {
    text-align: center;
  }
  
  .signup-link a {
    color: #4c07fc;
    text-decoration: none;
    font-weight: bold;
  }

  /* end loog in  */