body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dropdown-menu .dropdown-item a{ font-size: xx-large;}

/*Navbar section*/

#nav{
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(images/home\ bg.jpg);
  background-size: cover; background-position: center; position: relative; }

.navbar { background-color: #036c37; align-items: center; text-align: center;
  color: #fff; padding: 10px; display: flex; justify-content: space-between; }

.Menu{ align-items: center; justify-content: center; }

.Menu button{ position: relative; display: flex;  align-items: center; justify-content: center; }

.Logo h1{ color: aliceblue; text-align: center; align-items: center;font-size: 30px; }

.nav-item a{ color: rgb(248, 242, 242); align-items: center; text-align: center; font-size: 20px;
   margin: 0 10px; font-size: 20px; }

.nav-item a:hover{ border-bottom: 5px solid blue; }

 .list-group a{ color: rgb(8, 8, 8); list-style-type: none; display: inline-block; max-width: 960px; 
  margin: 0 auto; display: flex; justify-content: space-between; align-items: center; }

ul li{ list-style: none; text-decoration: none; list-style-type: none; display: inline-block;}

.dropdown-item a{ color: rgb(16, 16, 16); list-style: none; }

.dropdown-menu li{ background-color: rgb(134, 246, 134); }

.btn a{ color: #f2f2f2; text-decoration: none; }

ion-icon{ font-size: 30px; color: #680d0d; }

#homen h4,p{ color: white; font-size: 18px; text-align: center; }

#homen h3{ color: rgb(253, 251, 251); font-size: 40px; text-align: center; align-items: center;
 justify-content: center; }

#homen{ margin-top: 10px; }


/* End Navbar section*/




/* Start Banner  section*/
marquee{ animation:3.5s infinite linear; animation-duration: 0.1s;}
.banner { background-image: url("Banner.jpg"); background-image: repeating-linear-gradient(); width: 100%;
  height: 100%; background-position: center; background-size: cover; position: relative; display: flex;
  justify-content: center; align-items: center; z-index: 3; }

.banner::after{ content: ''; background-color: black; position: absolute; width: 100%; height: 100%;
 opacity: .8; z-index: -1;}

/* End Banner section*/





/*home section*/
/* section{
    filter: blur(0.3px);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.ip{
  filter: blur(0.3px); width: 80%; display: flex; align-items: center; justify-content: center; }

section .content{ display: none; margin-bottom: 20px; }
section .content .title{ font-size: 21px; font-weight: 600; margin: 30px 0 10px 0; justify-content: center; }
#Home:checked ~ section .content-1{ display: block; }
#About:checked ~ section .content-2{ display: block; }
#Contact:checked ~ section .content-3{ display: block; }
#Register:checked ~ section .content-4{ display: block; }
#Dashboard:checked ~ section .content-5{ display: block; }

.home h3{ font-size: 14xp; color: #f80909; text-align: center; }

.content p{ font-family: 'Times New Roman', Times, serif; font-size: 50px; color: #f2f2f2; } 
.title{ color: #ffff; font-family: 'Times New Roman', Times, serif; font-size: x-large; }


/* End home section*/



/* Start Activities  */
.card-Acti h5{ font-size: 30px; color: #000;  }
.card-A h1{color: red;}
.card-A{ display: flex; flex-direction: column; justify-content: space-around; padding: 10px; border-radius: 5px;
          margin-bottom: 10px;}
        



/* END Activities */


/* START OUR FACILITIES */
.card-facil:first-child{ background-color: rgb(43, 43, 214);}
.card-facil:nth-child(2){ background-color: orange;}
.card-facil:nth-child(3){ background-color: green;}
.cacard-facilrd:nth-child(4){ background-color: #be3535;}
/* END OUR FACILITIES */

/* this is iMG Reset */

/* End iMG Reset */




/* Start carousel section */



  .carousel-item::before{ content: ''; background-color: black; position: absolute; top: 0; bottom: 0; 
     left: 0; right: 0; opacity: 9; z-index: -1; }

     /* .carousel-inner{ height: 300px; width:200px; background-size: cover !important; background-position: center;
      background-repeat: no-repeat;  z-index: 1; }

  .carousel-item img{ width: 500px;  height: 500px; } */

  .carousel-caption h1{ text-align: center; font-size: 50px; align-items: center; color: blue;
    justify-items: center; justify-content: center; bottom: 40px; }
    .carousel-caption h1 span{ color: rgb(238, 3, 3);}
  .carousel-caption p{ text-align: center; font-size: 50px; align-items: center; color: rgb(244, 2, 2);
    justify-items: center; justify-content: center; bottom: 40px; }

    /* End carousel section */



  /* start button section */

  .btn {
    /* background-color: aqua;
    width: 20%;
    padding: 10px;
    font-size: 28px;
     */
}

/* End button section */


/* Start loog in  */
.container { display: flex; justify-content: center; align-items: center; height: 100vh; margin: 5px 0 20px 0; }

.flogin {  background-color: #fff; padding: 10px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   width: 80%; text-align: center; }

h1 { text-align: center; margin-bottom: 20px; }

form img { text-align: center; justify-content: center; text-align: center; background-color: red; }

.input-group { margin-bottom: 20px; }

label { display: block; font-weight: bold; margin-bottom: 5px; }

input[type="text"],
input[type="password"] { width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px; }

.b-login { display: block; width: 100%; padding: 10px; background-color: #a90f6e; color: #fff; border: none;
  border-radius: 4px; cursor: pointer; }
.signup-link {text-align: center; }

.signup-link  a{ text-decoration: none;  font-weight: bold; }
.signup-link { color: rgb(238, 3, 3); font-weight: bold; }

/* end loog in  */



/* Start About ours section */
.Core-Values{  height: 400px; width: 700px;  align-items: center;}
.Core-Values h1{ padding-top: 40px; margin-left: 30px; color: green;}
.Core-Values h1 ion-icon{  color: green;}
.Core-Values ul li ion-icon{ color: green;}
.Core-Values ul li{ margin-bottom: 10px; font-size: 25px; list-style: none; }

.Our-Mission h1{  padding-top: 40px; margin-left: 30px; color: green;}
.Our-Mission h1 ion-icon{ color: green;}
.Our-Mission p{ color: rgb(100, 96, 96);font-size: 18px; text-align: start; margin-left: 10px;
   font-family: 'Times New Roman', Times, serif;}
.Our-Mission{height: 400px; width: 3000px; margin-right: 15px; align-items: center;}   

.Our-Vision h1{ padding-top: 40px; margin-left: 30px; color: green;}
.Our-Vision h1 ion-icon{ color: green;}
.Our-Vision p{ color: rgb(100, 96, 96);font-size: 18px; text-align: start; margin-left: 10px;
    font-family: 'Times New Roman', Times, serif; }
/* Start About ours section */


/* Start Footer section  */

footer { color: #f7f1f1; display: flex; justify-content: space-between; text-align: center;
    background-color: #333; position: absolute; width: 100%; flex-wrap: wrap; }

footer .container { margin: 0 auto; display: flex; justify-content: space-between; }

.subject{ align-items: center;  justify-items: center;  }

.subject img { width: 150px; height: 150px; border-radius: 50%;  }

.subject a { display: inline-block; margin-top: 10px; color: #8e8686; font-size: 40px; text-decoration: none;  }

.subject p{ text-transform: uppercase;  }

.library a { display: inline-block; margin-top: 10px; color: #9a9191; font-size: 30px; text-decoration: none; }

.library img{ width: 150px; height: 150px; border-radius: 50%;  }

.library p{ text-transform: uppercase;  }

.bottom-footer { justify-content: space-between; align-items: center;
   }

.bottom-footer p{ font: size 100px; font-weight: bold; margin-top: 100px;  }

ul { list-style-type: none;  margin: 0; padding: 0; }

ul li { display: inline-block;  margin-right: 10px; }

ul li a { text-decoration: none; color: white;  }

footer ion-icon{ font-size: 20px; color: #fbf8f8; align-items: center; justify-content: left;  }
footer .bottom-footer  ion-icon{ color: green; }

#face{ color: blue; background-color: #f2f2f2; border-radius: 60%; font-size: 40px; }
#ytube{ color: red; background-color: #f2f2f2; border-radius:15px; font-size: 40px; }
#whapp{ color:  #f5f1f1; background-color: green; border-radius: 30%; font-size: 40px; }

/* #tk{
  color: rgb(220, 6, 188) ;
  background-color: #080707;
  border-radius: 40%;
   font-size: 60px;
} */

/* End Footer section*/


/* Start Dashboard section style */


/* start grid container in Dashboard */
.grid-container{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 0.2fr 3fr;
  grid-template-areas: "sidemenu header header header" "sidemenu main main main "; height: 100vh;}

/* End grid container in Dashboard */

/* start header in Dashboard */
.header{ grid-area: header; color: #f2f2f2; height: 70px; display: flex; align-items: center; 
justify-content: space-between; padding: 0 30px 0 30px; box-shadow: 0 4px 9px -3px rgb(0, 0, 0.3);}

.menu-icon { word-spacing: 10px; display: flex; align-items: center; 
  justify-content: space-between; padding: 0 30px 0 30px; }
.menu-icon ion-icon{ align-items: center;}
.menu-icon .f-icon{ color: blue;}
.menu-icon .l-icon{ color: white;}
.menu-icon .fa-solid{ color: white;} 
.header-right{ word-spacing: 10px; display: flex; align-items: center; 
justify-content: space-between; padding: 0 30px 0 30px;  }

.header-right a{word-spacing: 10px; display: flex; align-items: center; color: white;
  justify-content: space-between; text-transform: uppercase; padding: 0 30px 0 30px; text-decoration: none;}

  .header-right  .btn:hover{ color: rgb(238, 3, 3);  }

 
/* End header in Dashboard */

/* start sidebar section in Dashboard*/
.sidemenu ul{ height:}
.sidemenu{ grid-area: sidemenu; background: rgb(92, 88, 88);    margin-bottom: 20px;  }

.sidemenu .brandname{ height: 10vh; display: flex; align-items: center ; justify-content: center;}

.sidemenu li{ font-size: 24px; padding: 20px 40px; color: white; display: flex; align-items: center;}

.sidemenu li:hover{border-bottom: #723737 solid white ;color: #0f0f0f;
  background-color: rgb(7, 185, 185); cursor: pointer;}

.sidemenu ion-icon{ color: white;}

.brandname ion-icon{  color: white;}

a{text-decoration: none;}

li{list-style: none;}

.brandname h1{ color:rgb(73, 209, 109); font-family: 'Times New Roman', Times; font-size: 20px; text-transform: uppercase;}
/* End  sidebar container in Dashboard */



/* start main container  in Dashboard*/
.grid-container{background-color: rgb(42, 42, 63); height: 90%;}
.main-container{ grid-area: main; padding: 10px 20px; color: rgb(242, 236, 236);}

.main-container h1{ color: #f5f1f1; text-transform: uppercase;}

.main-title{ display: flex; justify-content: space-between;}

.main-cards{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 10px; margin: 20px 0; padding: 10px;
  
  background: #d1c6c6;}

.card{ display: flex; flex-direction: column; justify-content: space-around; padding: 10px; border-radius: 5px; 

  width: 200px; height: 100px; font-family: 'Times New Roman', Times, serif; font-size: 25px;}
.card-body p{ color: #000; font-size: 14;}
.card-inner{ display: flex; align-items: center; justify-content: space-between; }
.card-inner h1{ text-transform: uppercase; font-family: 'Times New Roman', Times, serif; font-size: 25px;}

.card-B h1{  text-transform: uppercase; font-family: 'Times New Roman', Times, serif; font-size: 30px;}
.card-B { display: flex; align-items: center; justify-content: space-between; }

.card:first-child{ background-color: rgb(43, 43, 214);}
.card:nth-child(2){ background-color: orange;}
.card:nth-child(3){ background-color: green;}
.card:nth-child(4){ background-color: #be3535;}
/*  Card-B */
.card-B:first-child{ background-color: rgb(43, 43, 214);}
.card-B:nth-child(2){ background-color: orange;}
.card-B:nth-child(3){ background-color: green;}
.card-B:nth-child(4){ background-color: #be3535;}
/* end main container in Dashboard */

/* Start cards-container */
.cards-container{ display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 10px; margin: 5px 0; padding: 20px;
  
  background: #d1c6c6;}

/* End cards-container */

/* End Dashboard section style */