/* Start Banner  section*/
marquee{ animation:3.5s infinite linear; animation-duration: 0.1s;}
.banner { background-image: url("Banner.jpg"); background-image: repeating-linear-gradient(); width: 100%;
  height: 100%; background-position: center; background-size: cover; position: relative; display: flex;
  justify-content: center; align-items: center; z-index: 3; }

.banner::after{ content: ''; background-color: black; position: absolute; width: 100%; height: 100%;
 opacity: .8; z-index: -1;}

/* End Banner section*/

/* ___________________________carosul section______________________________ */

#cursal{
background: linear-gradient(rgba(0,0,0,0,7), rgba(0,0,0,0,7));
position: absolute;
display: flex !important;
}

#cursal h5{
  width: 65%;
  font-size: 30px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--accent-color);
  color: var(--primary-color);
  text-align: left;
  position: relative;
  top: 61px;

}

#cursal p{
  width: 70%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background: var(--accent-color);
  color: var(--primary-color);
  top: 60px;
  position: relative;
  text-align: right;
}

#cursal p:hover{
  color: var(--accent-color);
  background: var(--primary-color); 
}

#cursal h5:hover{
  color: var(--accent-color);
  background: var(--primary-color); 
}

/* #cursal h5{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-color);
  text-align: right;
}
#cursal p{
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--primary-color);
  text-align: right;
} */

/* cardbody */
#cardbody{
  background-color: #160baa;
}
#cardbody h2{
  color: var(--accent-color);
}
/* our activities */
#ourActivities h2{
  color:var(--accent-color);
}
#cardbody h2{
  color: var(--accent-color);
}

/* footer */

footer {
  background-color: var(--secondary-color);
  color:var(--accent-color);
  
  padding: 20px 0; /* Adjust padding as needed */
}

.bottom-footer ion-icon{
 
  color:var(--accent-color);
  
  padding: 20px 0; /* Adjust padding as needed */
}

.container {
  max-width: 1200px; /* Set maximum width for the container */
  margin: 0 auto; /* Center the container */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.subject,
.bottom-footer {
  flex: 0 0 50%; /* Two columns, each taking 50% of the width */
}

h2 {
  color: #333; /* Set the color for heading text */
}

ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  display: flex; /* Display list items in a row */
}

ul li {
  margin-right: 15px; /* Adjust spacing between social media icons */
}

ion-icon {
  font-size: 20px; /* Adjust the icon size as needed */
  color: #333; /* Set the color for icon */
}

/* footer */


/*home section*/
/* section{
    filter: blur(0.3px);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.ip{
  filter: blur(0.3px); width: 80%; display: flex; align-items: center; justify-content: center; }

section .content{ display: none; margin-bottom: 20px; }
section .content .title{ font-size: 21px; font-weight: 600; margin: 30px 0 10px 0; justify-content: center; }
#Home:checked ~ section .content-1{ display: block; }
#About:checked ~ section .content-2{ display: block; }
#Contact:checked ~ section .content-3{ display: block; }
#Register:checked ~ section .content-4{ display: block; }
#Dashboard:checked ~ section .content-5{ display: block; }

.home h3{ font-size: 14xp; color: #f80909; text-align: center; }

.content p{ font-family: 'Times New Roman', Times, serif; font-size: 50px; color: #f2f2f2; } 
.title{ color: #ffff; font-family: 'Times New Roman', Times, serif; font-size: x-large; }


/* End home section*/

.navbar{
  background-color:var(--secondary-color);
  color: var(--accent-color);
}

nav.sticky{ 
  position: fixed;
  top: 0;
  left: 0;
}



#navbarSupportedContent .nav-link{
  color: var(--accent-color);
}



.RegisterForm {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#imgeBanner{
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.Registerlebel {
  display: block;
  margin-bottom: 8px;
}

.inpt , #city , #Capital[type="text" ],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}



select {
  cursor: pointer;
}

input[readonly] {
  background-color: #fdfbfb; 
 
}

#flag{  padding: 80px;

}
#flag{  padding: 80px;

}

input[type="text"]:invalid {
  border: 1px solid red;
}



.gradeA {
  color: green;
}

.gradeB {
  color: blue;
}

.gradeC {
  color: yellow;
}

.gradeD {
  color: orange;
}

.gradeF {
  color: red;
}

/* About Us */
#AboutTags h3{
color: var(--accent-color);
}

#AboutTags p{
color: var(--secondary-color);
}

#Aboutcolors p{
  color: var(--secondary-color);

}

#Aboutbox{
 background-color: var(--other-color); 
}

#Aboutbox h1{
 color: var(--primary-color); 
}

#Aboutbox #h6{
 color: var(--primary-color); 
}

.h6{
 color: var(--secondary-color); 
}

#cardbody p,li{
  color: var(--secondary-color);
}
#cardbody h1,ion-icon{
  color: var(--other-color);
}


/* End about us */



/* h , P & a tags */
h4{
  color: var(--secondary-color);
}


#ourActivities h5{
  color: var(--other-color);
}

#ourActivities p{
  color: var(--secondary-color);
}

#ourFacilityh4{
  color: var(--other-color);
}

#contacth1{ color: var(--accent-color);}
/* H tags */

/* Start buttoms */
#Registerbtn{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

#HideAndShow-btn button{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* End  buttoms */



/* Start Forms */
.singgup #singgp{
  color: var(--secondary-color);
}
.singgup #butt{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
/* Start Forms */



/* start verify form */

    .Bannerrr img {
        width: 100%;
        height: auto;
    }

    .h1 {
        color: #333;
    }

    .verify-form {
        width: 100%;
        padding: 10px;
        font-size: 24px;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        background-color: rgb(255, 0, 208);
    }

    .btun-primary {
        width: 100%;
        padding: 12px;
        font-size: 24px;
        background-color: #007bff;
        border: none;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btun-primary:hover {
        background-color: #0056b3;
    }

    .verifyForm h1{
      color: var(--accent-color);
    }
    
    .verifyForm .btn{
      background-color: var(--secondary-color);
    }
/* End verfy */


.section-colortheme{
  color:var(--secondary-color);
}

.section-colortheme h1{
  color:var(--accent-color);
}

.section-colortheme  ion-icon{
  color:var(--accent-color);
}

.section-colortheme #NTBprimary:hover{
  color:var(--primary-color);
  background-color: var(--accent-color);
}



/* Start Responsive */
@media (max-width:767px){ .coent { display: table-row;}
}
/* End Responsive */




/* Start Responsive */
@media (max-width:767px){ .coent { display: table-row;}
}
/* End Responsive */



/* starts code of dark and white modes */
:root{
  --primary-color: #0656f8;
  --secondary-color:#dcb2b2 ;
  --accent-color:#fefefe ;
  --other-color: rgb(190, 240, 9);
  }
  
  
  