footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
  }




  footer {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo img {
    max-width: 100px;
  }
  
  .social-media a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
    font-size: 20px;
  }
  
  .bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    color: #333;
  }

 